@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-gray-100;
	}
	::selection {
		@apply bg-gray-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-gray-300;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
	a:hover {
		text-decoration: underline;
	}

	body {
		position: relative;
		min-height: 100vh;
	}
}

@layer components {
	nav a {
		@apply p-1 font-bold tracking-wider mx-2;
	}

	#main {
		height: 25rem;
		background: #000;
	}

	#big-text {
		position: relative;
	}
	#big-text::after {
		position: absolute;
		bottom: -1rem;
		display: block;
		content: 'The best burger you\'ve ever had';
		transform: scaleY(-1);
		opacity: 0.25;
		color: #FFF;
		filter: blur(2px);
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	#burger-img {
		height: 25rem;
		float: right;
		width: auto;
		opacity: 0.75;
	}

/*	button:hover ~ #burger-img {
		opacity: 1;
	}*/

	button {
		@apply px-2 py-1 mr-1 text-white border-2 border-white hover:bg-white hover:text-black;
		transition: background-color 0.2s linear;
	}

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}